// 
// hero.scss
// 


.hero {
    padding: 190px 0px 150px;
    background-size: cover;
    background-repeat: no-repeat ;
}


// responsive

@media (max-width: 767.98px) {
    .hero {
        padding: 150px 0 50px;
    }
}

@media (max-width: 575.98px) {
    .hero {
        padding: 140px 0 30px;
    }
}