@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
html {
  background-color: rgb(41, 39, 40);
}
#header-font > h2 {
  font-family: "Nosifer";
  color: #fff;
  text-shadow: 0px 6px 5px rgb(219, 255, 88), 0 0 10px rgb(255, 0, 195);
  font-size: 60px;
}
#header-font > p {
  font-family: "Nosifer";
  color: #fff;
  text-shadow: 0px 6px 5px rgb(219, 255, 88), 0 0 10px rgb(255, 0, 195);
  font-size: 30px;
}

.btn-primary {
  background-color: rgb(181, 211, 75);
  border: rgb(181, 211, 75);
}
.btn-primary:hover {
  background-color: rgba(142, 165, 58, 0.791);
  border: rgba(142, 165, 58, 0.791);
}
#header-color {
  background-color: #ffffff !important;
  background-image: url(/images/final.png);
}
.neon-text {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px rgb(255, 0, 195), 0 0 21px rgb(255, 0, 195), 0 0 42px rgb(255, 0, 195),
    0 0 82px rgb(255, 0, 195), 0 0 92px rgb(255, 0, 195), 0 0 102px rgb(255, 0, 195), 0 0 151px rgb(255, 0, 195);
  font-family: "Press Start 2P", cursive;
}
.bg-light {
  background-color: #ffffff !important;
}

/* style="
          background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2eddd3ac-be22-4ebd-83e4-1d9305397920/ddnwcqr-45ca5d82-8251-427b-a7cb-fbb377bafbdf.jpg/v1/fill/w_1280,h_635,q_75,strp/cyberpunk_city_2__blade_runner_by_feliksovich_ddnwcqr-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjM1IiwicGF0aCI6IlwvZlwvMmVkZGQzYWMtYmUyMi00ZWJkLTgzZTQtMWQ5MzA1Mzk3OTIwXC9kZG53Y3FyLTQ1Y2E1ZDgyLTgyNTEtNDI3Yi1hN2NiLWZiYjM3N2JhZmJkZi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.8cBVD6lrB_6xT-KG6fn-FINPKVXrxvs4MtoFuZJmb4Y)
            center center;
        " */
